@page "/sell"

@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
@inject IViewProductByIdUseCase ViewProductByIdUseCase
@inject ISellProductUseCase SellProductUseCase
@inject IJSRuntime JSRunTime

<h3>Sell Product</h3>
<br />
<EditForm id="sellForm" Model="sellViewModel" OnValidSubmit="Sell">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="po">Sales Order #</label>
        <InputText id="so" @bind-Value="sellViewModel.SalesOrderNumber" class="form-control"></InputText>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent Label="Product to Sell"
                                       SearchFunction="SearchProduct"
                                       OnItemSelected="OnItemSelected">
                </AutoCompleteComponent>
                <input hidden value="@sellViewModel.ProductId" />
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="qty">Quantity</label>
        <InputNumber id="qty" @bind-Value="sellViewModel.QuantityToSell" class="form-control"></InputNumber>
    </div>
    <div class="form-group">
        <label for="price">Unit Price</label>
        <InputNumber id="qty" @bind-Value="sellViewModel.UnitPrice" class="form-control"></InputNumber>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Sell</button>
</EditForm>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private AuthenticationState? authenticationState;

    private SellViewModel sellViewModel = new SellViewModel();
    private Product SelectedProduct = null;

    protected override async Task OnInitializedAsync()
    {
        if(authenticationStateTask!=null)
            authenticationState = await authenticationStateTask;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRunTime.InvokeVoidAsync("PreventFormSubmition", "sellForm");
        }
    }

    private async Task<List<ItemViewModel>>? SearchProduct(string name)
    {
        var list = await ViewProductsByNameUseCase.ExecuteAsync(name);
        if (list == null) return null;

        return list.Select(x => new ItemViewModel { Id = x.ProductID, Name = x.ProductName })?.ToList();
    }
    private async Task OnItemSelected(ItemViewModel item)
    {
        this.SelectedProduct = await ViewProductByIdUseCase.ExecuteAsync(item.Id);

        sellViewModel.ProductId = item.Id;
        sellViewModel.Product = this.SelectedProduct;
        sellViewModel.UnitPrice = this.SelectedProduct.Price;
    }
    private async Task Sell()
    {
        if(this.sellViewModel.Product!=null && !string.IsNullOrEmpty(authenticationState?.User?.Identity?.Name))
        {
            await SellProductUseCase.ExecuteAsync(this.sellViewModel.SalesOrderNumber, this.sellViewModel.Product, this.sellViewModel.QuantityToSell, this.sellViewModel.UnitPrice, authenticationState.User.Identity.Name);
        }

        this.sellViewModel = new SellViewModel();
        this.SelectedProduct = null;
    }
}
